{%extends 'podcast/main.html'%}
{%load static%}



{% block content%}
<style>
    .team{
        position: relative;
        
        width:70%;
        right:5%;
        padding:10%;
        height:40vh;
        color: wheat;
        backdrop-filter: blur(5px);
 
        border-radius: 10px;
        
    }
</style>
<br><br><br><br>
<div class="team" dir='rtl'>
    <h1>گروه ذره‌بین:</h1>
    <ul>
        <li>
            <h3>سیاوش عقدایی</h3>
        </li>
        <li>
            <h43>حسین رضوی</h43>
        </li>
        <li>
            <h3>نازنین علیدادیانی</h3>
        </li>
        <li>
            <h3>محمد تقی‌زاده</h3>
        </li>
        <li>
            <h4>فرناز اسماعیلی</h4>
        </li>
        <li>
            <h3>افشین حاج‌سید‌جوادی</h3>
        </li>
    </ul>
</div>
<br>

{% endblock content%}